@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}

:root {
	--mainColor: #29335c;
	--mainColorLight: #5767aa;
	--secondaryColor: #db2b39;
	--textColor: #eee;
}

header .main-header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	/* background-color: var(--mainColor); */
	color: #000;
}

nav a {
	margin: 0 1rem;
	color: #000;
	text-decoration: none;
}

nav a:hover {
	color: var(--secondaryColor);
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: #000;
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav div{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* .banner-img1{
	width: 100%;
  } */
@media screen and (max-width: 600px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color:hsl(0, 16%, 94%);
		transition: 1s;
		/* border: 1px solid red; */
	}
nav div{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	border: 1px solid gray;
	/* padding: 2rem 6rem; */
	height: 90%;
	width: 80%;
	border-start-start-radius: 50%;
	border-start-end-radius: 50%;
	
}
	header .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: .4rem;
		right: 4rem;
	}

	nav a {
		font-size: .8rem;
	}
	.flex-box1{
		flex-direction: column;
		/* margin-bottom: 2rem; */
	}
	.banner-img1{
		width: 28%;
	  }
}

@media  screen and (min-width: 601px) and (max-width: 900px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color:hsl(0, 16%, 94%);
		transition: 1s;
	}
nav div{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	border: 1px solid gray;
	/* padding: 2rem 6rem; */
	height: 90%;
	width: 80%;
	border-start-start-radius: 50%;
	border-start-end-radius: 50%;
}
	header .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: .5rem;
		right: 3rem;
	}

	nav a {
		font-size: 1rem;
	}
	/* .banner-img1{
		width: 75%;
	  } */
}
@media  screen and (min-width: 901px) and (max-width: 1267px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color:hsl(0, 16%, 94%);
		transition: 1s;
	}
nav div{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	border: 1px solid gray;
	/* padding: 2rem 6rem; */
	height: 90%;
	width: 80%;
	border-start-start-radius: 50%;
	border-start-end-radius: 50%;
}
	header .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: .5rem;
		right: 4rem;
	}

	nav a {
		font-size: 1.5rem;
	}
	
}